@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
  --font-400: 400;
  --font-700: 700;
  --stip-1: clamp(1rem, 0.7727rem + 1.1364vw, 1.5rem);
  --stip-2: clamp(1.5rem, 1.2727rem + 1.1364vw, 2rem);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.5;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: var(--font-400);
  font-size: 16px;
  background-color: #fff;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-700);
  margin-top: 0;
  margin-bottom: 2rem;
}

h1 {
  font-size: var(--stip-2);
}

.container {
  width: 90%;
  max-width: 768px;
  margin: 0 auto;
}

.header {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.news {
  margin-bottom: 2rem;
}

.footer {
  text-align: center;
}

.link {
  font-size: var(--stip-1);
  color: #212121;
  text-decoration: none;
}
