@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Satisfy&display=swap");

/* ============ BASE ============*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

:root {
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Satisfy", cursive;
  --font-weight-400: 400;

  /* ============ COLORS ============*/

  --zinc-50: #fafafa;
  --zinc-100: #f4f4f5;
  --zinc-200: #e4e4e7;
  --zinc-300: #d4d4d8;
  --zinc-400: #a1a1aa;
  --zinc-500: #71717a;
  --zinc-600: #52525b;
  --zinc-700: #3f3f46;
  --zinc-800: #27272a;
  --zinc-900: #18181b;
  --zinc-950: #09090b;
}

body {
  background-color: var(--zinc-800);
  color: var(--zinc-100);
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: var(--font-weight-400);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-400);
}

p {
  margin-block: 1em 1em;
}

/* ============ CONTAINER ============*/

.container {
  width: 90%;
  max-width: 450px;
  margin: 2em auto;
}

/* ============ HGROUP ============*/

.title {
  text-align: center;
}

/* ============ VIDEO ============*/

.video {
  width: 100%;
  height: auto;
  margin-bottom: 0.67em;
}
